@page "/book/add"
@model eBookStoreApp.Pages.Book.AddModel
@{
    ViewData["Title"] = "Create Book";
}

<h1>Create Book</h1>

<form id="my-form" method="post">

    <div id="error" class="d-none alert alert-danger mt-3" role="alert">Add Failed</div>
    <div id="success" class="d-none alert alert-success mt-3" role="alert">Add Successfully</div>

    <input type="number" name="Id" value="0" class="d-none" />

    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="Title" required>
    </div>

    <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" class="form-control" id="type" name="Type" required>
    </div>

    <div class="form-group">
        <label for="publisherId">Publisher:</label>
        <select id="publisherId" name="PublisherId" class="form-control">
            @foreach (var publisher in Model.Publishers)
            {
                <option value="@publisher.Id">@publisher.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" step="0.01" class="form-control" id="price" name="Price" required>
    </div>

    <div class="form-group">
        <label for="advance">Advance:</label>
        <input type="number" step="0.01" class="form-control" id="advance" name="Advance" required>
    </div>

    <div class="form-group">
        <label for="royality">Royality:</label>
        <input type="number" step="0.01" class="form-control" id="royality" name="Royality" required>
    </div>

    <div class="form-group">
        <label for="ytdSales">YTD Sales:</label>
        <input type="number" class="form-control" id="ytdSales" name="YtdSales" required>
    </div>

    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="Notes"></textarea>
    </div>

    <div class="form-group">
        <label for="publishedDate">Published Date:</label>
        <input type="date" class="form-control" id="publishedDate" name="PulishedDate" required>
    </div>

    <div class="form-group d-flex">
        <button id="submit-btn" type="button" onclick="submitForm('odata/books', 'POST')" class="btn btn-primary mt-3">Create</button>
        <button type="reset" class="btn btn-warning mt-3">Clear</button>
    </div>
</form>

@*@page "/book/add"
@model eBookStoreApp.Pages.Book.AddModel
@{
    ViewData["Title"] = "Create Book";
}

<h1>Create Book</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" asp-for="Book.Title" required>
    </div>

    <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" class="form-control" id="type" asp-for="Book.Type" required>
    </div>

    <div class="form-group">
        <label for="publisherId">Publisher:</label>
        <select id="publisherId" name="Book.PublisherId" class="form-control">
            @foreach (var publisher in Model.Publishers)
            {
                <option value="@publisher.Id">@publisher.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" step="0.01" class="form-control" id="price" asp-for="Book.Price" required>
    </div>

    <div class="form-group">
        <label for="advance">Advance:</label>
        <input type="number" step="0.01" class="form-control" id="advance" asp-for="Book.Advance" required>
    </div>

    <div class="form-group">
        <label for="royality">Royality:</label>
        <input type="number" step="0.01" class="form-control" id="royality" asp-for="Book.Royality" required>
    </div>

    <div class="form-group">
        <label for="ytdSales">YTD Sales:</label>
        <input type="number" class="form-control" id="ytdSales" asp-for="Book.YtdSales" required>
    </div>

    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" asp-for="Book.Notes"></textarea>
    </div>

    <div class="form-group">
        <label for="publishedDate">Published Date:</label>
        <input type="date" class="form-control" id="publishedDate" asp-for="Book.PulishedDate" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Create</button>
</form>*@