@*@page "/publisher/add"
@model eBookStoreApp.Pages.Publisher.AddModel
@{
    ViewData["Title"] = "Create Publisher";
}
<div class="container">
    <h1>Create Publisher</h1>

    <form method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" class="form-control" type="text" asp-for="Publisher.Name" />
        </div>

        <div class="form-group">
            <label for="inputCity">City</label>
            <input id="inputCity" class="form-control" type="text" asp-for="Publisher.City" />
        </div>

        <div class="form-group">
            <label for="inputState">State</label>
            <input id="inputState" class="form-control" type="text" asp-for="Publisher.State" />
        </div>

        <div class="form-group">
            <label for="inputCountry">Country</label>
            <input id="inputCountry" class="form-control" type="text" asp-for="Publisher.Country" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>*@

@page "/publisher/add"
@model eBookStoreApp.Pages.Publisher.AddModel
@{
    ViewData["Title"] = "Create Publisher";
}
<div class="container">
    <h1>Create Publisher</h1>

    <form id="my-form" method="post">

        <div id="error" class="d-none alert alert-danger mt-3" role="alert">Add Failed</div>
        <div id="success" class="d-none alert alert-success mt-3" role="alert">Add Successfully</div>

        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" class="form-control" type="text" name="Name" />
        </div>

        <div class="form-group">
            <label for="inputCity">City</label>
            <input id="inputCity" class="form-control" type="text" name="City" />
        </div>

        <div class="form-group">
            <label for="inputState">State</label>
            <input id="inputState" class="form-control" type="text" name="State" />
        </div>

        <div class="form-group">
            <label for="inputCountry">Country</label>
            <input id="inputCountry" class="form-control" type="text" name="Country" />
        </div>

        <div class="form-group d-flex">
            <button id="submit-btn" type="button" onclick="submitForm('odata/publishers', 'POST')" class="btn btn-primary mt-3">Save</button>
            <button type="reset" class="btn btn-warning mt-3">Clear</button>
        </div>
    </form>
</div>