@page
@using System.Security.Claims;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (User.Identity?.IsAuthenticated == true)
        {
            @($" - {User.FindFirst(ClaimTypes.Name)?.Value.ToUpper()}")
        }
    </h1>
</div>
